%ol.chat-message
  .chat-message__header
    %p.chat-message__user
      = message.user.name
    %p.chat-message__time
      = l(message.created_at, format: :default)
  %p.chat-message__body
    = message.text
