= link_to group_messages_path(group), class: "chat-list__link" do
  %li.chat-list
    %p.chat-list__name
      = group.name
    %p.chat-list__message
      - if group.messages.exists?
        = group.messages.last.text
      - else
        まだメッセージはありません。
